* {
    box-sizing: border-box;
}

body {
    background-color: #59B4C3;
    text-align: center;
    
}

h1 {
    color: white;
}

.info-container {
    height: 100px;
    background-color: rgb(41, 185, 144);
}

.mine-container {
    height: 500px;
    background-color: #5f9ba4db;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-radius: 8px;
    width: 250px;;
    height: 250px;
    background-color: white;
    cursor: pointer;
}

td {
    border: 0.1px solid black;
    width: 20px;
    height: 20px;
    background-color: green;
    background-size: 100%;
    border-radius: 12px 0;
    color: black;
}

.footer {
    height: 40px;
    background-color: aquamarine;
}

.cell span {
    background-color: red;
}

.cell.visible span { 
    background-color: blue;
}

