* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url(../img/blue-bg.jpg);
    
}

h1 {
    color: white;
}

.info-container {
    height: 100px;
    background-color: #525CEB;

    
}

.info-container button {
    padding: 8px;
    border-radius: 4px;
    color: white;
    background-color: #3D3B40;
    border: 0.5px solid #525cebd6;
    border: 0.5px solid #a0a5e8d6;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.mine-container {
    background-color: #5f9ba408;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: 20px solid #F8EDFF;
    border-radius: 08px 8px;
    background-color: #BFCFE7;
    cursor: pointer;
}

td {
    border: 2px solid black;
    height: 40px;
    width: 40px;
    background-color: #BFCFE7;
    border-radius: 2px;
    color: black;
}

.footer {
    background-color: #3D3B40;
    height: 100px;
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.footer h1 {
    font-size: 20px;
}

